*,
::before,
::after {
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.51);
  border: 1px solid #000;
}
